.hours {
  margin: 20px auto;

  &__day {
    text-align: left;
    padding-right: 30px;
  }

  &__day,&__time {
    font-size: 15px;
    padding-bottom: 5px;
  }
  
}

.address {
  margin: 20px auto;

  td:first-child {
    padding-right: 10px;
    vertical-align: top;

    i {
      font-size: 20px;
      line-height: 20px;
    }
  }

  span {
    line-height: 20px;
  }
}

@media(min-width: 769px) {
  .about {
    text-align: left;

    .hours, .address {
      margin: 20px 0;
    }
  }
}