html, body {
  // height: 100%
}

body {
  font-family: $font-family-base;
  background-color: $body-bg;
  margin: 0;
  position: relative;
  // padding-top: 53px;
}

body.home {
  padding-top: 0;
}

h1 {
  margin-top: 0;
}

p {
  line-height: 1.3;
}