.navbar-item {
  text-decoration: none;
  color: $black;
  font-size: 18px;

  &:hover{
    background: transparent !important;
    text-decoration: underline;
  }
}

.navbar {
  background: transparent;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;

  .navbar-brand a {
    font-weight: 700;
    font-size: 25px;

    &:hover { text-decoration: none; }
  }

  .navbar-burger {
    &.is-active span { background-color: $black }
    &:hover { background: transparent; }
  }
}

.home .navbar-item {
  display: block;
}

.home .navbar-item.social {
  display: inline-block;
  font-size: 25px;
  margin: 20px 10px 0;
  padding: 0;
}

.lang-nav {
  .select:after {
    border-color: $black !important;
    margin-top: -8px !important;
  }

  select {
    background: transparent;
    border-color: $black;
    padding-right: 40px !important;

    &:hover, &:focus {
      border-color: $black;
      text-decoration: none;
    }
  }
}