.home .navbar-item {
  display: block;
}

.navbar-item {
  text-decoration: none;
  color: $black;
  font-size: 18px;

  &:hover{
    background: transparent !important;
    text-decoration: underline;
  }
}

.navbar {
  background: transparent;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;

  .navbar-brand a {
    font-weight: 700;
    font-size: 25px;

    &:hover { text-decoration: none; }
  }

  .navbar-burger {
    &.is-active span { background-color: $black }
    &:hover { background: transparent; }
  }
}